node_modules/
dist/
test-results/
blob-report/
allure-results/
allure-report/
playwright/.cache/
.DS_Store
*.log
.env.local
.vscode/
.idea/
*.swp
*.swo
coverage/
.husky/_
playwright-report
package-lock.json