name: Playwright Tests

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  sauce-demo-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npx playwright install --with-deps
      - name: Run SauceDemo UI tests
        run: |
          mkdir -p allure-results/sauceDemo
          ALLURE_RESULTS=allure-results/sauceDemo npx playwright test --project=sauceDemo
        env:
          CI: true
          BASE_URL: https://www.saucedemo.com/
      - name: Upload SauceDemo Allure artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: sauceDemo-allure
          path: allure-results/sauceDemo

  fakestore-tests:
    runs-on: ubuntu-latest
    needs: []
    services:
      mongo:
        image: mongo:6
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npx playwright install --with-deps
      - name: Clone FakeStore API
        run: git clone https://github.com/keikaavousi/fake-store-api.git fake-store-api
      - name: Build FakeStore API Docker image
        run: docker build -t fakestoreapi:local ./fake-store-api
      - name: Run FakeStore API container
        run: docker run -d -p 3000:3000 --name fakestore-api -e MONGO_URI=mongodb://mongo:27017/fakestore fakestoreapi:local
      - name: Run FakeStore API tests
        run: |
          mkdir -p allure-results/fakeStoreAPI
          DEBUG=pw:api,pw:request,pw:response \
          ALLURE_RESULTS=allure-results/fakeStoreAPI \
          npx playwright test --project=fakeStoreAPI --reporter=line
        env:
          CI: true
          API_BASE_URL: http://localhost:3000
      - name: Upload FakeStore Allure artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: fakestore-allure
          path: allure-results/fakeStoreAPI
      - name : Upload playwright traces    
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: fakestore-playwright-traces
          path: test-results
          
  merge-allure-report:
    runs-on: ubuntu-latest
    needs: [sauce-demo-tests, fakestore-tests]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'
      - run: npm ci
      - run: npx playwright install --with-deps
      - name: Download SauceDemo Allure artifacts
        uses: actions/download-artifact@v4
        with:
          name: sauceDemo-allure
          path: allure-results/sauceDemo
      - name: Download FakeStore Allure artifacts
        uses: actions/download-artifact@v4
        with:
          name: fakestore-allure
          path: allure-results/fakeStoreAPI
      - name: Merge Allure results
        run: |
          mkdir -p allure-results/merged
          cp -r allure-results/sauceDemo/* allure-results/merged/
          cp -r allure-results/fakeStoreAPI/* allure-results/merged/
          npx allure generate allure-results/merged --clean -o allure-report
      - name: Upload final Allure report
        uses: actions/upload-artifact@v4
        with:
          name: final-allure-report
          path: allure-report
