name: Playwright Tests

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  saucedemo-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      - run: npm ci

      - run: npx playwright install --with-deps

      - run: |
          mkdir -p allure-results/sauceDemo
          ALLURE_RESULTS=allure-results/sauceDemo \
          npx playwright test --project=sauceDemo
        env:
          CI: true

      - name: install allure cli
        run: |
          npm install -g allure-commandline --save-dev      

      - run: npx allure generate allure-results/sauceDemo -o allure-report/sauceDemo --clean
        if: always()

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: saucedemo-allure
          path: allure-report/sauceDemo

  fakestoreapi-tests:
    runs-on: [self-hosted, fakestore]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      - run: npm ci

      - run: npx playwright install --with-deps

      - run: |
          mkdir -p allure-results/fakeStoreAPI
          ALLURE_RESULTS=allure-results/fakeStoreAPI \
          npx playwright test --project=fakeStoreAPI
        env:
          CI: true

      - name: install allure cli
        run: |
          npm install -g allure-commandline --save-dev      

      - run: npx allure generate allure-results/fakeStoreAPI -o allure-report/fakeStoreAPI --clean
        if: always()

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: fakestoreapi-allure
          path: allure-report/fakeStoreAPI
